$mainGreen: rgb(42, 114, 42);
$lightGreen: rgb(0, 193, 159);
$mainWhite: #f3f3f3;
$mainDark: #232528;
$mainYellow: #ffa400;

body {
  font-family: 'Oswald', sans-serif !important;
  background: $mainWhite;
  color: $mainDark;
}

.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.3rem;
}

.text-green {
  color: $mainGreen;
}

.text-bright {
  color: $lightGreen;
}

nav {
  background: $mainGreen !important;
  .nav-link {
    color: $mainWhite;
    font-size: 1.3rem;
    text-transform: capitalize;
  }
  button {
    text-transform: capitalize;
    font-size: 1.43rem;
    background: transparent;
    border: 0.1rem solid $lightGreen;
    color: $lightGreen;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.2rem 0.5rem 0.2rem 0;
    transition: all 0.5s ease-in-out;
  }
  button:hover {
    background: $lightGreen;
    color: $mainGreen;
  }
  button:focus {
    outline: none;
  }
}

.card {
  border: transparent;
  transition: all 0.5s linear;
}
.card:hover {
  border: 0.04rem solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: 2px 2px 5px 0px rgba($color: #000000, $alpha: 0.2);
}

.img-container {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  .card-img-top {
    transition: all 0.5s linear;
  }
}
.img-container:hover {
  .card-img-top {
    transform: scale(1.2);
  }
}

.myButton {
  text-transform: capitalize;
  font-size: 1.43rem;
  background: transparent;
  border: 0.1rem solid $lightGreen;
  color: $lightGreen;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
}
.myButton:hover {
  background: $lightGreen;
  color: $mainGreen;
}

.yellow {
  border: 0.1rem solid $mainYellow;
  color: $mainYellow;
}

.yellow:hover {
  border: $lightGreen;
}

.no-border {
  border: none;
}

.no-border:hover {
  border: none;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  .modal-inner {
    background: white;
    border-radius: 4px;
  }
}
