$mainBlue: #2a2a72;
$lightBlue: #009ffd;
$mainWhite: #f3f3f3;
$mainDark: #232528;
$mainYellow: #ffa400;

body {
    font-family: "Oswald", sans-serif !important;
    background: $mainWhite;
    color: $mainDark;
}

.text-title {
    font-family: "Permanent Marker", cursive;
    letter-spacing: 0.3rem;
}

.text-blue {
    color: $mainBlue;
}

.text-bright {
    color: $lightBlue;
}

nav {
    background: $mainBlue  !important;
    .nav-link {
        color: $mainWhite;
        font-size: 1.3rem;
        text-transform: capitalize;
    }
    button {
        text-transform: capitalize;
  font-size: 1.43rem;
  background: transparent;
  border: 0.1rem solid  $lightBlue;
  color:$lightBlue;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.2rem 0.5rem 0.2rem 0;
  transition: all 0.5s ease-in-out;
  }
  button:hover{
  background: $lightBlue;
  color: $mainBlue;
  }
  button:focus{
  outline: none;
  }
}

.card{
    border: transparent;
    transition: all 0.5s linear;
   
}
.card:hover {
    border: 0.04rem solid rgba($color: #000000, $alpha: 0.2);
    box-shadow: 2px 2px 5px 0px rgba($color: #000000, $alpha: 0.2);
}


.img-container {
    position: relative;
    overflow: hidden;
    padding: 0.5em;
    .card-img-top {
        transition: all 0.5s linear;
    }
}
.img-container:hover {
    .card-img-top {
        transform: scale(1.2);
    }
}

.myButton {
    text-transform: capitalize;
font-size: 1.43rem;
background: transparent;
border: 0.1rem solid  $lightBlue;
color:$lightBlue;
border-radius: 0.5rem;
cursor: pointer;
margin: 0.2rem 0.5rem 0.2rem 0;
transition: all 0.5s ease-in-out;
}
.myButton:hover{
background: $lightBlue;
color: $mainBlue;
}



.no-border{
    border: none;
}

.no-border:hover{
    border: none;
}